LOCAL_PATH=system.log
VM_PATH=vm-instrumentation.log
HOSTNAME=XX.XX.XX.XX
USER=user
SSH_KEY_PATH=keys_vms

# MCP SERVER TIME
# This should be the name of the MCP service you want to use.
SERVICE_NAME=mcp-server-time
# This can be any name you want to give to your service.
SERVICE_TIME_MCP=time
...

